.Tecnico {
    top:25px;
    height: 55px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-top-color:  transparent !important;
}

.encabezado {
    background-color: #FBF799;
    /* height: 25px; */
    /* width: 100%; */
    border-bottom-style: solid;
    border-width: 2px;
}

.spanHour{
    position: fixed;
    z-index: 9;
}

.hourColumn {
    /* border-style: solid; */
    border-width: 1px;
    height: 25px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: black !important;
}

.oneDot::after{
    position:fixed;
    content: "."
}

.twoDots::after{
    position:fixed;
    content: "..";
}

.threeDots::after{
    position:fixed;
    content:"..."
}


.minutesHeader{
    width: 8.3%;
    height: 100%;
    text-align: left;
}
.noVisible{
    color: transparent;
}


.minutesColumn {
    position: relative;
    border-right-style: solid;
    border-right-color: silver;
    border-left-color: transparent;
    border-width: 1px;
    width: 8.3%;
    height: 100%;
}

.halfHourColumn {
    border-right-color: #000080 !important;
}

.fullHourColumn {
    border-right-color: LightCoral !important;
}


.bottom-hour {
    border-top-color: black !important;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-bottom-color: black!important;
    border-bottom-style: solid;
}

#appIndex > .row:not(:first-child) > .hourColumn > .encabezado{
    visibility: hidden;
}

.ordenTrabajo {
    border-style: solid;
    /*cursor: move;*/
    margin: 2px;
    border-width: 1px;

    /*Drag*/
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

    .ordenTrabajo:hover {
        cursor: grab;
    }

    .ordenTrabajo:active {
        cursor: grabbing;
    }

    /* .planeado > .ordenTrabajo {
        position: absolute;
        margin-top: 2px;
        margin-bottom: 2px;
        height: 21px;
        z-index: 999;
        white-space: nowrap;
        overflow: hidden;
    } */
    
    .minuteColGrid{
        position: relative;
        margin-top:1px;
        margin-bottom:1px;
        height: 23px;
        display: inline-block;
    }

    .minuteColGrid > .ordenTrabajo{
        position: absolute;
        margin-top: 2px;
        margin-bottom: 2px;
        height: 21px;
        z-index: 999;
        white-space: nowrap;
        overflow: hidden;
    }

    .ordenTrabajo > .resize{
        position: relative;
        right:0;
        width: 5px;
        background-color: cadetblue;
        height: 100%;
        display: inline-block;
        z-index: 1000;
    }

    .resize:hover{
        cursor:w-resize;
    }